:root {
  --font: 'Roboto', sans-serif;
  --font-alt: 'Montserrat', sans-serif;
  --font-monospace: 'Fira Code', monospace;
  --font-size: 14px;
}

@font-face {
    font-family: 'vazir';
    src: url('../../../public/fonts/Far_khodkar.ttf') format('ttf');
}
