/**
 * This mixin create CSS variables with distinct HSL layers.
 */
@mixin colorHsl($color, $hue, $saturation, $lightness) {
  --#{$color}-h: #{$hue};
  --#{$color}-s: #{$saturation};
  --#{$color}-l: #{$lightness};
  --#{$color}: hsl(var(--#{$color}-h), var(--#{$color}-s), var(--#{$color}-l));
}

:root{
    --shadow-1: 0 1px 10px rgba(0, 0, 0, 0.06), 0 1px 8px rgba(0, 0, 0, 0.1);
    --shadow-2:0 8px 10px rgba(0, 0, 0, 0.06), 0 2px 8px rgba(0, 0, 0, 0.12);
    --shadow-3:0 12px 35px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.12);
}
